@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.eot") format("embedded-opentype"), url("../assets/fonts/Lato-Regular.woff2") format("woff2"), url("../assets/fonts/Lato-Regular.woff") format("woff"), url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Semibold.eot") format("embedded-opentype"), url("../assets/fonts/Lato-SemiBold.woff2") format("woff2"), url("../assets/fonts/Lato-Semibold.woff") format("woff"), url("../assets/fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("../assets/fonts/CormorantGaramond-Bold.eot") format("embedded-opentype"), url("../assets/fonts/Cormorant-Garamond-Bold.woff2") format("woff2"), url("../assets/fonts/CormorantGaramond-Bold.woff") format("woff"), url("../assets/fonts/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #443939;
  background-color: rgb(255, 255, 255);
  min-width: 320px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a,
button {
  color: #443939;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

a:hover {
  color: #f0d3d3;
}

.image-fluid {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  color: #443939;
}

.title-big {
  font-size: clamp(35px, 6.8vw, 96px);
  line-height: 1.1;
}

.title-medium {
  font-size: clamp(30px, 3.4vw, 48px);
  line-height: 1.2;
}

.header {
  min-height: 100px;
  display: flex;
  align-items: center;
}
.header__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-shrink: 0;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.link {
  display: inline-block;
  padding-inline: 30px;
  text-align: center;
  font-family: "Lato", sans-serif;
  line-height: 1.2;
  text-decoration: none;
  white-space: nowrap;
  background-color: #e0f0d4;
  border: none;
  border-radius: 20px;
}

.header-link {
  height: 47px;
  font-size: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.banner-link {
  height: 67px;
  width: 245px;
  padding-top: 19px;
  padding-bottom: 19px;
}

.banner {
  margin-bottom: 80px;
}

.banner__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 154px;
}
.banner__body-title {
  margin-bottom: 21px;
}
.banner__body-description {
  margin-bottom: 48px;
}

.banner-extraimg {
  display: none;
}

.about-me {
  display: flex;
  padding-bottom: 50px;
  padding-top: 15px;
  margin-bottom: 200px;
}

.about-me__body-title {
  margin-bottom: 64px;
}

.about-me__body-text {
  margin-bottom: 51px;
}

.about-me__body-facts {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.about-me__body-facts-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-top: 20px;
}

.certificates {
  margin-bottom: 200px;
}

.certificates__title {
  margin-bottom: 60px;
  margin-left: 112px;
}

.certificates-slider__item {
  margin-left: 30px;
  margin-right: 30px;
}

.burger-menu {
  display: none;
  position: relative;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 12px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #443939;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 2;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #f0d3d3;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #443939;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #e0f0d4;
}

.catalogue {
  margin-bottom: 200px;
}

.catalogue__title {
  margin-left: 112px;
  margin-bottom: 60px;
}

.catalogue__tabs {
  position: relative;
  min-height: 602px;
}

.catalogue__tab,
.catalogue__tab-title {
  display: inline-block;
}

.catalogue__tabs input[type=radio] {
  display: none;
}

.catalogue__tab-title {
  width: 160px;
  text-align: center;
  background: #e0f0d4;
  padding: 12px;
  border-radius: 20px;
  border: none;
  margin-bottom: 60px;
  margin-right: 16px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.catalogue__tab-content {
  position: absolute;
  width: 100%;
  border: none;
  left: 0;
  display: none;
}

.catalogue__tabs [id^=catalogue__tab]:checked + .catalogue__tab-title {
  position: relative;
  background: #f0d3d3;
  top: 1px;
  z-index: 1;
}

.catalogue__tab:checked ~ .catalogue__tab-content {
  display: block;
}

#catalogue__tab-moti:checked ~ #catalogue__tab-content-moti,
#catalogue__tab-cakes:checked ~ #catalogue__tab-content-cakes,
#catalogue__tab-cupcakes:checked ~ #catalogue__tab-content-cupcakes,
#catalogue__tab-bento-cakes:checked ~ #catalogue__tab-content-bento-cakes,
#catalogue__tab-pastry:checked ~ #catalogue__tab-content-pastry,
#catalogue__tab-novelties:checked ~ #catalogue__tab-content-novelties {
  display: block;
}

.catalogue__catalogue-slider-wrapper,
.owl-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.owl-nav {
  position: absolute;
  top: 50%;
  bottom: -45px;
  bottom: -60px;
  transform: translateY(-50%);
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2rem;
}
.owl-nav button {
  outline: none;
}
.owl-nav .owl-prev {
  margin-left: -60px;
}
.owl-nav .owl-next {
  margin-right: -60px;
}

.catalogue__slider-card {
  display: grid;
  width: 300px;
  min-height: 550px;
  background-color: #f0d3d3;
  border-radius: 20px;
  justify-content: flex-start;
  padding: 18px 20px;
  margin: 0px 0px;
}

.catalogue__slider-picture-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 282px;
  border-radius: 20px;
  margin-bottom: 22px;
}

.catalogue__slider-picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 100%;
  border-radius: 20px;
}

.catalogue__product-title,
.catalogue__product-description,
.catalogue__product-price {
  max-width: 266px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin-bottom: 12px;
}

.catalogue__product-title {
  margin-bottom: 12px;
}

.catalogue__product-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 22px;
  justify-self: flex-end;
}

.catalogue__product-price {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 9px;
}

.catalogue__product-price-bold {
  font-size: 18px;
  font-weight: 700;
}

.icon-arrow-top {
  position: fixed;
  z-index: 2;
  cursor: pointer;
  top: auto;
  bottom: 20px;
  right: 3px;
  left: auto;
  scroll-behavior: smooth;
  display: none;
}

.advantages {
  margin-bottom: 200px;
}
.advantages__title {
  margin-left: 112px;
  margin-bottom: 60px;
}
.advantages__item {
  border-radius: 20px;
  border: 2px solid #f0d3d3;
  display: flex;
  align-items: center;
  padding: 25px;
  width: auto;
  min-height: 137px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
.advantages__icon {
  padding-right: 17px;
}

.gallery {
  margin-bottom: 200px;
}
.gallery__title {
  margin-left: 112px;
  margin-bottom: 60px;
}
.gallery__wrapper {
  display: grid;
  grid-template-areas: "img_1 img_2 img_4 img_5" "img_1 img_3 img_4 img_6";
  grid-template-columns: repeat(2, 2fr 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25rem;
  border-radius: 50px;
  overflow: hidden;
}
.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery__image:hover {
  filter: brightness(90%);
  transition: 0.3s ease-in;
}
.gallery__link:hover {
  filter: brightness(90%);
  transition: 0.3s ease-in;
}
.gallery__image-1 {
  grid-area: img_1;
}
.gallery__image-2 {
  grid-area: img_2;
}
.gallery__image-3 {
  grid-area: img_3;
}
.gallery__image-4 {
  grid-area: img_4;
}
.gallery__image-5 {
  grid-area: img_5;
}
.gallery__image-6 {
  grid-area: img_6;
}

.reviews {
  margin-bottom: 100px;
}

.reviews__title {
  margin-bottom: 60px;
  margin-left: 112px;
}

.reviews-slider__item {
  margin-left: 30px;
  margin-right: 30px;
}

.delivery {
  margin-bottom: 200px;
}
.delivery__title {
  font-size: 48px;
  margin-left: 112px;
  margin-bottom: 60px;
}
.delivery__option {
  border-radius: 20px;
  border: 2px solid #f0d3d3;
  display: flex;
  align-items: flex-start;
  padding: 25px;
  width: 333px;
  min-height: 137px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
.delivery img {
  max-width: 100px;
  margin-right: 20px;
}
.delivery p {
  margin: 10px 0 0;
  font-size: 1.125rem;
  font-weight: 500;
}

.delivery__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 134px;
}

.contacts__map {
  width: 50%;
  margin: 0px;
}

.contacts__yandex-map {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__phone-socmedia {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  padding-left: 138px;
  margin: 0px;
}

.contacts__title-for-basic,
.contacts__title-for-responsive {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  margin-bottom: 42px;
}

.contacts__title-for-responsive {
  display: none;
}

.contacts__paragraph,
.contacts__phone,
.contacts__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.contacts__phone-wrapper {
  margin-bottom: 40px;
}

.contacts__icon-phone {
  margin-right: 12px;
}

.contacts__phone {
  display: inline-flex;
}

.contacts__wtsp-tg {
  margin-bottom: 51px;
}

.contacts__icon-wtsp {
  margin-right: 17px;
}

.contacts__vk-ok {
  margin-bottom: 49px;
}

.contacts__icon-vk {
  margin-right: 20px;
}

.footer-bottom {
  min-height: 100px;
  display: flex;
  align-items: center;
  background-color: #f0d3d3;
  border-radius: 20px 20px 0px 0px;
}
.footer-bottom__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.footer-bottom__copyright {
  font-size: 20px;
}
.footer-bottom__text {
  font-size: 18px;
}

@media screen and (max-width: 1440px) {
  Каталог .owl-nav {
    padding: 0px 20px;
  }
  Каталог .owl-nav .owl-prev {
    margin-left: -40px;
  }
  Каталог .owl-nav .owl-next {
    margin-right: -40px;
  }
}
@media (max-width: 1399px) {
  .catalogue__tab-title {
    width: 140px;
    margin-bottom: 40px;
    padding: 12px;
    font-size: 18px;
  }
  .owl-nav {
    padding: 0px 30px;
  }
  .owl-nav .owl-prev {
    margin-left: -40px;
  }
  .owl-nav .owl-next {
    margin-right: -40px;
  }
}
@media (max-width: 1199px) {
  .advantages__item {
    padding: 20px;
    min-height: 160px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .advantages__icon {
    padding-right: 14px;
  }
}
@media screen and (max-width: 991px) {
  .gallery__wrapper {
    grid-template-areas: "img_1 img_1" "img_2 img_3" "img_4 img_4" "img_5 img_6";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }
  .gallery__image {
    max-height: 560px;
  }
  .header__wrapper {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 15px;
    flex-wrap: wrap;
  }
  .burger-menu {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .menu__box {
    right: -100%;
  }
  .banner__body {
    justify-content: center;
    padding-top: 0;
  }
  .about-me__body-title {
    margin-bottom: 32px;
  }
  .about-me__body-text {
    margin-bottom: 20px;
  }
  .catalogue__tab-title {
    width: 140px;
    margin-bottom: 30px;
    padding: 12px;
    font-size: 18px;
  }
  .owl-nav {
    padding: 0px 5px;
  }
  .owl-nav .owl-prev {
    margin-left: -10px;
  }
  .owl-nav .owl-next {
    margin-right: -10px;
  }
  #catalogue__tab-content-cakes {
    margin-top: 90px;
  }
  #catalogue__tab-content-moti {
    margin-top: 90px;
  }
  #catalogue__tab-content-cupcakes {
    margin-top: 90px;
  }
  #catalogue__tab-content-bento-cakes {
    margin-top: 90px;
  }
  #catalogue__tab-content-pastry {
    margin-top: 90px;
  }
  #catalogue__tab-content-novelties {
    margin-top: 20px;
  }
  .delivery {
    margin-bottom: 150px;
  }
  .delivery__title {
    margin-left: 112px;
  }
  .delivery__wrapper {
    display: flex;
    justify-content: start;
    align-items: center; /* Центрируем элементы */
  }
  .delivery__option {
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .delivery__option img {
    max-width: 90px;
  }
}
@media screen and (max-width: 820px) {
  #catalogue__tab-content-cakes {
    margin-top: 90px;
  }
  #catalogue__tab-content-moti {
    margin-top: 90px;
  }
  #catalogue__tab-content-cupcakes {
    margin-top: 90px;
  }
  #catalogue__tab-content-bento-cakes {
    margin-top: 90px;
  }
  #catalogue__tab-content-pastry {
    margin-top: 90px;
  }
  #catalogue__tab-content-novelties {
    margin-top: 20px;
  }
  .contacts {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .contacts__map {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  }
  .contacts__phone-socmedia {
    flex-direction: column;
    width: 100%;
    padding: 0px 100px;
    text-align: center;
  }
  .contacts__title-for-responsive {
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }
  .contacts__title-for-basic {
    display: none;
  }
  .contacts__phone-wrapper {
    margin-bottom: 20px;
  }
  .contacts__phone {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 18px;
  }
  .header {
    margin-bottom: 15px;
  }
  .banner {
    margin-bottom: 100px;
  }
  .banner__body-description {
    margin-bottom: 30px;
  }
  .banner-img-sm {
    order: -1;
  }
  .banner-img {
    display: none;
  }
  .banner__body {
    align-items: center;
  }
  .banner__body-title {
    text-align: center;
  }
  .banner__body-description {
    text-align: center;
  }
  .banner-link {
    margin-bottom: 10px;
  }
  .banner-extraimg {
    display: block;
    border-radius: 20px;
  }
  .about-me {
    margin-bottom: 100px;
  }
  .about-me__image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .about-me__body-title {
    text-align: center;
  }
  .certificates {
    margin-bottom: 100px;
  }
  .certificates__title {
    margin-left: 0px;
    text-align: center;
  }
  .catalogue__title {
    margin-left: 0px;
    text-align: center;
  }
  .advantages {
    margin-bottom: 100px;
  }
  .advantages__title {
    margin-bottom: 40px;
    margin-left: 0;
    text-align: center;
  }
  .advantages__item {
    min-height: 137px;
  }
  .gallery {
    margin-bottom: 100px;
  }
  .gallery__title {
    margin-bottom: 40px;
    margin-left: 0;
    text-align: center;
  }
  #catalogue__tab-content-bento-cakes {
    margin-top: 10px;
  }
  #catalogue__tab-content-pastry {
    margin-top: 10px;
  }
  .owl-nav {
    padding: 0px 10px;
  }
  .owl-nav .owl-prev {
    margin-left: -23px;
  }
  .owl-nav .owl-next {
    margin-right: -23px;
  }
  #catalogue__tab-content-bento-cakes {
    margin-top: 90px;
  }
  .reviews__title {
    margin-left: 0;
    text-align: center;
  }
  .delivery {
    margin-bottom: 100px;
  }
  .delivery__title {
    margin-left: 0px;
    text-align: center;
  }
  .delivery__wrapper {
    display: flex;
    flex-direction: column; /* Элементы в колонку */
    align-items: center;
  }
  .delivery__option {
    padding: 15px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .delivery__option img {
    max-width: 80px;
  }
}
@media screen and (max-width: 722px) {
  .owl-nav {
    padding: 0px 0px;
  }
  .owl-nav .owl-prev {
    margin-left: -12px;
  }
  .owl-nav .owl-next {
    margin-right: -12px;
  }
}
@media screen and (max-width: 659px) {
  #catalogue__tab-content-bento-cakes {
    margin-top: 10px;
  }
  #catalogue__tab-content-pastry {
    margin-top: 10px;
  }
  .catalogue__slider .owl-nav {
    padding: 0px 2rem;
  }
  .catalogue__slider .owl-nav .owl-prev {
    margin-left: -12px;
  }
  .catalogue__slider .owl-nav .owl-next {
    margin-right: -12px;
  }
}
@media (max-width: 600px) {
  .footer-bottom__wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 575px) {
  body {
    font-size: 16px;
  }
  .header__wrapper {
    justify-content: space-between;
  }
  .menu__box {
    right: -100%;
  }
  .banner-img-sm {
    order: -1;
  }
  .banner__body {
    align-items: center;
  }
  .banner__body-title {
    text-align: center;
  }
  .banner__body-description {
    text-align: center;
  }
  .banner-link {
    margin-bottom: 10px;
  }
  .banner-img {
    display: none;
  }
  .banner-extraimg {
    display: block;
    border-radius: 20px;
  }
  .gallery__wrapper {
    grid-template-areas: "img_1" "img_2" "img_3" "img_4" "img_5" "img_6";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
  }
  .gallery__image {
    max-height: 460px;
  }
}
@media screen and (max-width: 501px) {
  .catalogue__tabs {
    min-height: 702px;
  }
  .catalogue {
    margin-bottom: 100px;
  }
  .catalogue__title {
    font-size: 30px;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 20px;
  }
  .catalogue__tab-title {
    width: 130px;
    font-size: 18px;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  #catalogue__tab-content-cakes {
    margin-top: 70px;
  }
  #catalogue__tab-content-moti {
    margin-top: 70px;
  }
  #catalogue__tab-content-cupcakes {
    margin-top: 70px;
  }
  #catalogue__tab-content-bento-cakes {
    margin-top: 20px;
  }
  #catalogue__tab-content-pastry {
    margin-top: 20px;
  }
  #catalogue__tab-content-novelties {
    margin-top: 20px;
  }
  .catalogue__slider-card {
    max-width: 300px;
  }
}
@media screen and (max-width: 446px) {
  .catalogue__tabs {
    min-height: 802px;
  }
  .catalogue__title {
    margin-bottom: 40px;
  }
  #catalogue__tab-content-cakes {
    margin-top: 120px;
  }
  #catalogue__tab-content-moti {
    margin-top: 120px;
  }
  #catalogue__tab-content-cupcakes {
    margin-top: 70px;
  }
  #catalogue__tab-content-bento-cakes {
    margin-top: 70px;
  }
  #catalogue__tab-content-pastry {
    margin-top: 20px;
  }
  #catalogue__tab-content-novelties {
    margin-top: 20px;
  }
  .catalogue__slider-card {
    max-width: 280px;
  }
  .catalogue__slider .owl-nav,
  .catalogue__slider-alone-item .owl-nav {
    position: absolute;
    top: auto;
    bottom: -60px;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .catalogue__slider .owl-nav .owl-prev,
  .catalogue__slider-alone-item .owl-nav .owl-prev {
    margin-left: 10px;
  }
  .catalogue__slider .owl-nav .owl-next,
  .catalogue__slider-alone-item .owl-nav .owl-next {
    margin-right: 10px;
  }
  .contacts {
    margin-bottom: 100px;
  }
  .contacts__map {
    width: 100%;
  }
  .contacts__phone-socmedia {
    padding: 0px 30px;
  }
}