*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.eot") format("embedded-opentype"), url("../assets/fonts/Lato-Regular.woff2") format("woff2"), url("../assets/fonts/Lato-Regular.woff") format("woff"), url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Semibold.eot") format("embedded-opentype"), url("../assets/fonts/Lato-SemiBold.woff2") format("woff2"), url("../assets/fonts/Lato-Semibold.woff") format("woff"), url("../assets/fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("../assets/fonts/CormorantGaramond-Bold.eot") format("embedded-opentype"), url("../assets/fonts/Cormorant-Garamond-Bold.woff2") format("woff2"), url("../assets/fonts/CormorantGaramond-Bold.woff") format("woff"), url("../assets/fonts/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #443939;
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a,
button {
  color: #443939;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

.button {
  display: inline-flex;
  align-items: center;
  padding-inline: 30px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  white-space: nowrap;
  background-color: #e0f0d4;
  border: none;
  border-radius: 20px;
}

a:hover {
  color: #f0d3d3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  color: #443939;
}

.title-big {
  font-size: clamp(48px, 5vw, 96px);
  line-height: 1.1;
}

.title-meduim {
  font-size: clamp(24px, 2.5vw, 48px);
  line-height: 1.2;
}

h2 {
  font-size: 48px;
}

.advantages {
  margin-bottom: 200px;
}
.advantages__title {
  margin-left: 112px;
  margin-bottom: 60px;
  font-size: 48px;
}
.advantages__item {
  border-radius: 20px;
  border: 2px solid #f0d3d3;
  display: flex;
  align-items: center;
  padding: 25px;
  width: auto;
  min-height: 137px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
.advantages__icon {
  padding-right: 17px;
}

.gallery {
  margin-bottom: 200px;
}
.gallery__title {
  margin-left: 112px;
  margin-bottom: 60px;
  font-size: 48px;
}
.gallery__wrapper {
  display: grid;
  grid-template-areas: "img_1 img_2 img_4 img_5" "img_1 img_3 img_4 img_6";
  grid-template-columns: repeat(2, 2fr 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25rem;
  border-radius: 50px;
  overflow: hidden;
}
.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.img-1 {
  grid-area: img_1;
}

.img-2 {
  grid-area: img_2;
}

.img-3 {
  grid-area: img_3;
}

.img-4 {
  grid-area: img_4;
}

.img-5 {
  grid-area: img_5;
}

.img-6 {
  grid-area: img_6;
}

@media screen and (max-width: 1199px) {
  .advantages__item {
    padding: 20px;
    min-height: 160px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .advantages__icon {
    padding-right: 14px;
  }
}
@media screen and (max-width: 991px) {
  .gallery__wrapper {
    grid-template-areas: "img_1 img_1" "img_2 img_3" "img_4 img_4" "img_5 img_6";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }
  .gallery__image {
    width: 100%;
    max-height: 560px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
@media screen and (max-width: 767px) {
  .advantages {
    margin-bottom: 100px;
  }
  .advantages__title {
    margin-bottom: 40px;
  }
  .advantages__item {
    min-height: 137px;
  }
  .gallery {
    margin-bottom: 100px;
  }
  .gallery__title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 575px) {
  .advantages__title {
    margin-left: 60px;
  }
  .gallery__title {
    margin-left: 60px;
  }
  .gallery__wrapper {
    grid-template-areas: "img_1" "img_2" "img_3" "img_4" "img_5" "img_6";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
  }
  .gallery__image {
    max-height: 460px;
  }
}