*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.eot") format("embedded-opentype"), url("../assets/fonts/Lato-Regular.woff2") format("woff2"), url("../assets/fonts/Lato-Regular.woff") format("woff"), url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Semibold.eot") format("embedded-opentype"), url("../assets/fonts/Lato-SemiBold.woff2") format("woff2"), url("../assets/fonts/Lato-Semibold.woff") format("woff"), url("../assets/fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("../assets/fonts/CormorantGaramond-Bold.eot") format("embedded-opentype"), url("../assets/fonts/Cormorant-Garamond-Bold.woff2") format("woff2"), url("../assets/fonts/CormorantGaramond-Bold.woff") format("woff"), url("../assets/fonts/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #443939;
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a,
button {
  color: #443939;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

a:hover {
  color: #f0d3d3;
}

.image-fluid {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  color: #443939;
}

.title-big {
  font-size: clamp(35px, 5vw, 96px);
  line-height: 1.1;
}

.title-meduim {
  font-size: clamp(24px, 2.5vw, 48px);
  line-height: 1.2;
}

.header {
  min-height: 100px;
  display: flex;
  align-items: center;
}
.header__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-shrink: 0;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.link {
  display: inline-block;
  padding-inline: 30px;
  text-align: center;
  font-family: "Lato", sans-serif;
  line-height: 1.2;
  text-decoration: none;
  white-space: nowrap;
  background-color: #e0f0d4;
  border: none;
  border-radius: 20px;
}

.header-link {
  height: 47px;
  font-size: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.banner-link {
  height: 67px;
  width: 245px;
  padding-top: 19px;
  padding-bottom: 19px;
}

.banner__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 154px;
}
.banner__body-title {
  margin-bottom: 21px;
}
.banner__body-description {
  margin-bottom: 48px;
}

.banner-extraimg {
  display: none;
}

.burger-menu {
  display: none;
  position: relative;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #443939;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #f0d3d3;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #443939;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #e0f0d4;
}

h2 {
  font-size: 48px;
}

.advantages {
  margin-bottom: 200px;
}
.advantages__title {
  margin-left: 112px;
  margin-bottom: 60px;
  font-size: 48px;
}
.advantages__item {
  border-radius: 20px;
  border: 2px solid #f0d3d3;
  display: flex;
  align-items: center;
  padding: 25px;
  width: auto;
  min-height: 137px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
.advantages__icon {
  padding-right: 17px;
}

.gallery {
  margin-bottom: 200px;
}
.gallery__title {
  margin-left: 112px;
  margin-bottom: 60px;
  font-size: 48px;
}
.gallery__wrapper {
  display: grid;
  grid-template-areas: "img_1 img_2 img_4 img_5" "img_1 img_3 img_4 img_6";
  grid-template-columns: repeat(2, 2fr 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25rem;
  border-radius: 50px;
  overflow: hidden;
}
.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.img-1 {
  grid-area: img_1;
}

.img-2 {
  grid-area: img_2;
}

.img-3 {
  grid-area: img_3;
}

.img-4 {
  grid-area: img_4;
}

.img-5 {
  grid-area: img_5;
}

.img-6 {
  grid-area: img_6;
}

@media (max-width: 1199px) {
  .advantages__item {
    padding: 20px;
    min-height: 160px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .advantages__icon {
    padding-right: 14px;
  }
}
@media screen and (max-width: 991px) {
  .gallery__wrapper {
    grid-template-areas: "img_1 img_1" "img_2 img_3" "img_4 img_4" "img_5 img_6";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }
  .gallery__image {
    width: 100%;
    max-height: 560px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .header__wrapper {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 15px;
    flex-wrap: wrap;
  }
  .header__menu {
    order: 1;
    flex-basis: 100%;
    justify-content: center;
  }
  .banner__body {
    justify-content: center;
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .header {
    margin-bottom: 15px;
  }
  .banner__body-description {
    margin-bottom: 30px;
  }
  .image__wrapper {
    display: flex;
    align-items: center;
  }
  .advantages {
    margin-bottom: 100px;
  }
  .advantages__title {
    margin-bottom: 40px;
  }
  .advantages__item {
    min-height: 137px;
  }
  .gallery {
    margin-bottom: 100px;
  }
  .gallery__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .burger-menu {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header__wrapper {
    justify-content: space-between;
  }
  .menu__box {
    right: -100%;
  }
  .banner-img-sm {
    order: -1;
  }
  .banner__body {
    align-items: center;
  }
  .banner__body-title {
    text-align: center;
  }
  .banner__body-description {
    text-align: center;
  }
  .banner-link {
    margin-bottom: 10px;
  }
  .banner-img {
    display: none;
  }
  .banner-extraimg {
    display: block;
    border-radius: 20px;
  }
}