@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.eot") format("embedded-opentype"),
    url("../assets/fonts/Lato-Regular.woff2") format("woff2"),
    url("../assets/fonts/Lato-Regular.woff") format("woff"),
    url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Semibold.eot") format("embedded-opentype"),
    url("../assets/fonts/Lato-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Lato-Semibold.woff") format("woff"),
    url("../assets/fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../assets/fonts/CormorantGaramond-Bold.eot")
      format("embedded-opentype"),
    url("../assets/fonts/Cormorant-Garamond-Bold.woff2") format("woff2"),
    url("../assets/fonts/CormorantGaramond-Bold.woff") format("woff"),
    url("../assets/fonts/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
