// Переменные цветов
$text-brown: #443939;
$bg-white: rgba(255, 255, 255, 1);
$green: #e0f0d4;
$pink: #f0d3d3;

// Переменные шрифтов
$font-family-base: "Lato", sans-serif;
$font-family-accent: "Cormorant Garamond", serif;
